@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
}

.searchDiv{
  padding: 20px;
  margin: 10px 0;
}

.homeH1{
  font-size: 300%;
  font-family: 'Times New Roman', Times, serif;
}

.itemButton{
  color: aliceblue;
}

.news-item {
  padding: 20px;
  margin: 10px 0;
}

