@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-left h2 {
  margin: 0;
}

.footer-right .github-logo {
  width: 40px;
  height: 40px;
}

.footer-bottom {
  margin-top: 20px;
}


.searchDiv{
  padding: 20px;
  margin: 10px 0;
}

.homeH1{
  font-size: 300%;
  font-family: 'Times New Roman', Times, serif;
}

.itemButton{
  color: aliceblue;
}

.news-item {
  padding: 20px;
  margin: 10px 0;
}

